// Social Buttons
@use "sass:color";

$facebook:              #3b5998 !default;
$facebook-states:       color.scale($facebook, $lightness: 5%) !default;
$twitter:               #55acee !default;
$twitter-states:        color.scale($twitter, $lightness: 5%) !default;
$instagram:             #125688 !default;
$instagram-states:      color.scale($instagram, $lightness: 6%) !default;
$linkedin:              #0077B5 !default;
$linkedin-states:       color.scale($linkedin, $lightness: 5%) !default;
$pinterest:             #cc2127 !default;
$pinterest-states:      color.scale($pinterest, $lightness: 6%) !default;
$youtube:               #e52d27 !default;
$youtube-states:        color.scale($youtube, $lightness: 6%) !default;
$dribbble:              #ea4c89 !default;
$dribbble-states:       color.scale($dribbble, $lightness: 6%) !default;
$github:                #24292E !default;
$github-states:         color.scale($github, $lightness: 6%) !default;
$reddit:                #ff4500 !default;
$reddit-states:         color.scale($reddit, $lightness: 6%) !default;
$tumblr:                #35465c !default;
$tumblr-states:         color.scale($tumblr, $lightness: 6%) !default;
$behance:               #1769ff !default;
$behance-states:        color.scale($behance, $lightness: 6%) !default;
$vimeo:                 #1AB7EA !default;
$vimeo-states:          color.scale($vimeo, $lightness: 6%) !default;
$slack:                 #3aaf85 !default;
$slack-states:          color.scale($slack, $lightness: 6%) !default;
