/* 右側懸浮storeIcon products Start */

.floating-icon {
    position: fixed;
    bottom: 110px;
    right: 30px;
    background-color: #56c5a9; /* 背景顏色 */
    border-radius: 15px; /* 圓角 */
    width: 45px; /* 控制圖標的寬度 */
    height: 45px; /* 控制圖標的高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
    cursor: pointer;
    z-index: 900; /* 保證圖標在最上層 */
    color: white !important; /* 圖標顏色 */
    font-size: 25px; /* 控制圖標的大小 */
}
.floating-icon:hover {
    background-color: #ec8404; /* 懸停時變色 */
}

.floating-icon-cart {
    position: fixed;
    bottom: 170px;
    right: 30px;
    background-color: #56c5a9; /* 背景顏色 */
    border-radius: 15px; /* 圓角 */
    width: 45px; /* 控制圖標的寬度 */
    height: 45px; /* 控制圖標的高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
    cursor: pointer;
    z-index: 900; /* 保證圖標在最上層 */
    color: white !important; /* 圖標顏色 */
    font-size: 25px; /* 控制圖標的大小 */
}

.floating-icon-cart:hover {
    background-color: #ec8404; /* 懸停時變色 */
}

.floating-icon-side-cart {
    position: fixed;
    bottom: 290px;
    right: 30px;
    background-color: #56c5a9; /* 背景顏色 */
    border-radius: 15px; /* 圓角 */
    width: 45px; /* 控制圖標的寬度 */
    height: 45px; /* 控制圖標的高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
    cursor: pointer;
    z-index: 900; /* 保證圖標在最上層 */
    color: white !important; /* 圖標顏色 */
    font-size: 25px; /* 控制圖標的大小 */
    border: none;
}

.floating-icon-side-cart:hover {
    background-color: #ec8404; /* 懸停時變色 */
}

.floating-icon-order {
    position: fixed;
    bottom: 230px;
    right: 30px;
    background-color: #56c5a9; /* 背景顏色 */
    border-radius: 15px; /* 圓角 */
    width: 45px; /* 控制圖標的寬度 */
    height: 45px; /* 控制圖標的高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
    cursor: pointer;
    z-index: 900; /* 保證圖標在最上層 */
    color: white !important; /* 圖標顏色 */
    font-size: 25px; /* 控制圖標的大小 */
    border: none;
}

.floating-icon-order:hover {
    background-color: #ec8404; /* 懸停時變色 */
}

.floating-icon-shoppingList {
    position: fixed;
    bottom: 410px;
    right: 30px;
    background-color: #f4b0a5; /* 背景顏色 */
    border-radius: 15px; /* 圓角 */
    width: 45px; /* 控制圖標的寬度 */
    height: 45px; /* 控制圖標的高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
    cursor: pointer;
    z-index: 900; /* 保證圖標在最上層 */
    color: white !important; /* 圖標顏色 */
    font-size: 25px; /* 控制圖標的大小 */
    border: none;
}

.floating-icon-shoppingList:hover {
    background-color: #b2d1d3; /* 懸停時變色 */
}

.floating-icon-myCoupon {
    position: fixed;
    bottom: 350px;
    right: 30px;
    background-color: #f4b0a5; /* 背景顏色 */
    border-radius: 15px; /* 圓角 */
    width: 45px; /* 控制圖標的寬度 */
    height: 45px; /* 控制圖標的高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加陰影效果 */
    cursor: pointer;
    z-index: 900; /* 保證圖標在最上層 */
    color: white !important; /* 圖標顏色 */
    font-size: 25px; /* 控制圖標的大小 */
    border: none;
}

.floating-icon-myCoupon:hover {
    background-color: #b2d1d3; /* 懸停時變色 */
}

/* 右側懸浮storeIcon products End */

/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.8s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    color: white;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}
/*** Spinner End ***/

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: 0.5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.border-secondary {
    transition: 0.5s;
}

.btn.border-secondary:hover {
    background: var(--bs-secondary) !important;
    color: var(--bs-white) !important;
}

/*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
    background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
    color: var(--bs-white) !important;
}

.fruite .fruite-categorie .fruite-name {
    line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
    transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
    color: var(--bs-secondary);
}

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .fruite-item .fruite-img {
    height: 250px;
    object-fit: contain;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}
/*** Fruits End ***/

/*** vesitable Start ***/
.vesitable .vesitable-item {
    height: 100%;
    transition: 0.5s;
}

.vesitable .vesitable-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.vesitable .vesitable-item .vesitable-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.vesitable .vesitable-item .vesitable-img img {
    transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
    transform: scale(1.2);
}

.vesitable .owl-stage {
    margin: 50px 0;
    position: relative;
}

.vesitable .owl-nav .owl-prev {
    position: absolute;
    top: -8px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
    position: absolute;
    top: -8px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** vesitable End ***/

/*** Banner Section Start ***/
.banner .banner-btn:hover {
    background: var(--bs-primary);
}
/*** Banner Section End ***/

/*** Facts Start ***/
.counter {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color: var(--bs-primary);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter h1 {
    margin-bottom: 0;
}
/*** Facts End ***/

/*** Single Page Start ***/
/* 分頁的樣式 */
.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid orange; /* 改為橘色邊框 */
    margin: 0 4px;
}

.pagination a.active {
    background-color: #81c408; /* 改為綠色背景 */
    color: var(--bs-light);
    border: 1px solid orange; /* 橘色邊框 */
}

.pagination a:hover:not(.active) {
    background-color: #81c408; /* 懸停時改為綠色背景 */
}

/* 標籤導航的樣式 */
.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid orange !important; /* 改為橘色邊框 */
}
/*** Single Page End ***/

/*** Footer Start ***/
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
}
/*** Footer End ***/

/* Header Page 顏色 Start*/
.custom-color {
    color: #81c408; /* 設定顏色 */
}
/* Header Page 顏色 End*/
